.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    flex-wrap: wrap;
    background-color: #310f50;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.card-buttons-delete {
    background-color: red;
    color: #FFF;
}

.done {
    opacity: 0.5;
}